@charset "utf-8";


header {
  text-align: right;
  padding: 10px;
  background-image: url(/img/header.jpg);
  height: 240px;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: 56px;
  margin-bottom: 60px;
  position: relative;
}

section {
  text-align: center;
}

section h1 {
  font-weight: normal;
  margin-bottom: 8px;
}

.icon {
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 5px gray;
  position: absolute;
  top: 65px;
  left: 10px;
}

h1 {

}

.box {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: black;/*文字色*/
  background: #FFF;
  border: solid 3px white;/*線*/
  border-radius: 10px;/*角の丸み*/
  position: absolute;
  top: 180px;
  left: 24px;
}